<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
<br>
<div class="container-fluid">
	<span>
		<div class="jumbotron">
  			<h1 class="display-4">Death and Taxes <br>User and Activity Tracker</h1>
  			<p class="lead">Made by GhostFilms</p>
  			<hr class="my-4">
  			<p>Select a link to go to that page</p>
  			<a class="btn btn-primary btn-lg" href="/main/visual" role="button">Visualization</a>
  			<a class="btn btn-primary btn-lg" href="/main/data" role="button">Data</a>
		</div>
	</span>
</div>